[user]
	email = REDACTED
	name = REDACTED
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe

[alias]
    logpp = log --graph --all --decorate --pretty=format:'%C(auto)%h%Creset %C(dim white)%ad%Creset %C(auto)%d%Creset %s %C(dim white)(%an)%Creset' --date=short
