[include]
    path = ~/.gitconfig.local
[include]
    path = ~/.gitconfig.user
[core]
	pager = delta
	autocrlf = false
[interactive]
	diffFilter = delta --color-only
[alias]
    logpp = log --graph --all --decorate --pretty=format:'%C(auto)%h%Creset %C(dim white)%ad%Creset %C(auto)%d%Creset %s %C(dim white)(%an)%Creset' --date=short
